{% extends "base.twig" %}
{% block content %}
    <div class="vstack">
        <div class="card my2 {{ panel.db ? 'bg-green:soft __can-connect' : 'bg-danger:soft' }}">
            {% if panel.db %}
                <div class="hstack px-2">
                    <i class="color-green">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path d="M4 18V6" stroke="currentColor" stroke-width="1.5"
                                      stroke-linecap="round"></path>
                                <path d="M20 12L20 18" stroke="currentColor" stroke-width="1.5"
                                      stroke-linecap="round"></path>
                                <path d="M12 10C16.4183 10 20 8.20914 20 6C20 3.79086 16.4183 2 12 2C7.58172 2 4 3.79086 4 6C4 8.20914 7.58172 10 12 10Z"
                                      stroke="currentColor" stroke-width="1.5"></path>
                                <path d="M20 12C20 14.2091 16.4183 16 12 16C7.58172 16 4 14.2091 4 12"
                                      stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                <path d="M20 18C20 20.2091 16.4183 22 12 22C7.58172 22 4 20.2091 4 18"
                                      stroke="currentColor" stroke-width="1.5"></path>
                            </g>
                        </svg>
                    </i>
                    <h5 class="ml2 color-green">Connection:
                        <b>{{ panel.db.DB_SERVER }}</b>
                        <b>@{{ panel.db.DB_USER }}</b>
                        <b>?database={{ panel.db.DB_NAME }}</b>
                    </h5>

                    <a data-smv-component="db-config"
                       href="#?{{ [panel.db.DB_SERVER,panel.db.DB_USER,panel.db.DB_NAME] | join(',') }}"
                       class="btn ml4 btn-primary:hover py-0">Edit</a>
                </div>
            {% else %}
                <div class="hstack px-2">
                    <i class="color-danger">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path d="M4 18V6" stroke="currentColor" stroke-width="1.5"
                                      stroke-linecap="round"></path>
                                <path d="M20 12L20 18" stroke="currentColor" stroke-width="1.5"
                                      stroke-linecap="round"></path>
                                <path d="M12 10C16.4183 10 20 8.20914 20 6C20 3.79086 16.4183 2 12 2C7.58172 2 4 3.79086 4 6C4 8.20914 7.58172 10 12 10Z"
                                      stroke="currentColor" stroke-width="1.5"></path>
                                <path d="M20 12C20 14.2091 16.4183 16 12 16C7.58172 16 4 14.2091 4 12"
                                      stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                <path d="M20 18C20 20.2091 16.4183 22 12 22C7.58172 22 4 20.2091 4 18"
                                      stroke="currentColor" stroke-width="1.5"></path>
                            </g>
                        </svg>
                    </i>
                    <h5 class="ml2">Database is not configured</h5>

                    <a data-smv-component="db-config" href="#"
                       class="btn ml4 btn-primary:hover py-0">Configure</a>
                </div>
            {% endif %}
        </div>
        <div class="card layout-header pad-2">
            <div class="hstack gap-2">
                <div class="vsatck layout-header-item content-center">
                    <h3>Models</h3>
                    <h1>6</h1>
                </div>
                <div class="vsatck layout-header-item content-center">
                    <h3>Extensions</h3>
                    <h1>6</h1>
                </div>
                <div class="vsatck layout-header-item content-center">
                    <h3>Models</h3>
                    <h1>6</h1>
                </div>
            </div>
        </div>
        <div class="layout-content">
            <div class="vstack">
                <div class="hstack">
                    <div class="btn model-btn">Create new model</div>
                </div>
                <div class="grid">
                    <div class="col">
                        <ul class="list-view hover-bg-light">
                            {% for table in panel.tables %}
                                <li  class="list-item table-item">
                                    <div class="vstack">
                                        <div class="hstack model-info">
                                            <span class="model-name capitalize">{{ table }}</span>
                                            <div class="model-options gap-1">
                                                <span data-t-edit class="btn btn-green:soft">Edit</span>
                                                <span data-t-del class="btn btn-danger-soft">delete</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% else %}
                                <div>
                                    <div class="card p-4 vstack">
                                        {% include "comp/models.html" %}
                                    </div>
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
